@model enQuery
@{
    ViewBag.Title = "Advertise With Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style type="text/css">
         .inner {
            padding: 40px 40px 20px 25px;

            display: inline-block;

            width: 100%;
            box-sizing: border-box;

            padding: 105px;

            margin: 0px;

           outline: none;
        }

        .contact1 {
            border: 1px #cc202e solid;
            padding: 20px;
            display: inline-block;
            width: 100%;
        }

        .map-sec {
            float: right;
            position: relative;
            z-index: 1;
            margin-top: -10px;
        }

        .pointer {
            float: left;
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }
        .inner h1 {
            font-family: 'oswaldbold';
            font-size: 30px;
            color: #cc202e;
            font-weight: normal;
            text-transform: uppercase;
        }
        .cont-detail h4 {
            text-transform: none;
            font-family: 'oswaldbold';
            font-weight: normal;
            font-size: 24px;
            margin: 40px 0 0 0;
        }
        .off-state, .off {
            position: relative;
            margin: 20px 0 0 0;
        }
        .reg-office h5 {
            color: #cc202e;
            font-size: 18px;
            font-family: 'oswaldbold';
            margin-bottom: 5px;
        }
        .cont-detail {
            position: relative;
        }

        .cf {
                margin: 0 auto 50px auto;
        }

        h1 {
          text-align: center;
          color: #000;
          text-shadow: 1px 1px 0 white;
        }
        h3 {
          text-align: center;
          color: #000;
          text-shadow: 1px 1px 0 white;
        }
        h4 {
          text-align: center;
          color: #000;
          text-shadow: 1px 1px 0 white;
        }

        form {
          max-width: 600px;
          text-align: center;
          margin: 20px auto;
        }
        form input, form textarea {
          border: 0;
          outline: 0;
          padding: 1em;
          -moz-border-radius: 8px;
          -webkit-border-radius: 8px;
          border-radius: 8px;
          display: block;
          width: 100%;
          margin-top: 1em;
          font-family: 'Merriweather', sans-serif;
          -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          resize: none;
        }
        form input:focus, form textarea:focus {
          -moz-box-shadow: 0 0px 2px #e74c3c !important;
          -webkit-box-shadow: 0 0px 2px #e74c3c !important;
          box-shadow: 0 0px 2px #e74c3c !important;
        }
        .submit {
          color: white;
          background: #cc202e;
          cursor: pointer;
        }
        .submit:hover {
          -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
          -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
          box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
        }
        form textarea {
          height: 126px;
          border: 1px solid #ddd;
        }

        .half {
          float: left;
          width: 48%;
          margin-bottom: 1em;
        }

        .right {
          width: 50%;
        }

        .left {
          margin-right: 2%;
        }

        @@media (max-width: 480px) {
          .half {
            width: 100%;
            float: none;
            margin-bottom: 0;
          }
        }
        /* Clearfix */
        .cf:before,
        .cf:after {
          content: " ";
          /* 1 */
          display: table;
          /* 2 */
        }

        .cf:after {
          clear: both;
        }
    </style>
}

@section scripts{
    <script>
        $(document).ready(function () {
            @if(ViewBag.Msg != null)
            {
                @:$("#msg").text('@ViewBag.Msg')
            }
        })
    </script>
    }



<section class="content_section flex_style1">
    <div class="content row_spacer no_padding">
        <div class="rows_container clearfix" style="text-align:center;">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
                <p>Advertising with Hang-Out ensures reaching the educated masses and
                        building your presence with them.</p>
                <p>Please attach your file for your display advertisement.</p>
                <p>Attached file should be in JPG, JPEG, GIF or PNG (Preferable) format and should be in full HD
                        resolution (1920x1080) pixels.</p>
                <div style="margin-top:50px">
                    @using (Html.BeginForm("advertise", "query", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="half left cf">
                            @Html.TextBoxFor(x => x.Name, new { placeholder = "Name", required = "" })
                            @Html.TextBoxFor(x => x.Contact, new { placeholder = "Contact No.", required = "" })
                        </div>
                        <div class="half right cf">
                            @Html.TextBoxFor(x => x.E_Mail, new { placeholder = "E-Mail", required = "" })
                            @Html.TextBoxFor(x => x.Subject, new { placeholder = "Subject", required = "" })
                        </div>
                            @Html.TextAreaFor(x => x.Message, new { placeholder = "Message", required = "" })

                            @Html.TextBoxFor(x => x.files, new { type = "file", placeholder = "Message", required = "", multiple = "true" })
                            <div class="form-group">
                                <button type="submit" class="btn btn-info btn-lg btn-block" style="background-color:#00466e">Submit</button>
                            </div>
                    }
                </div>
                <center><p style="color:red;font-size:large" id="msg"></p></center>
            </div><!-- Grid 6 -->

            <div class="col-md-3">
            </div>
            <!-- Grid 6 -->
        </div>
    </div>
</section>




@*<div class="full-wrap ">
    <div class="orane-home post-1113 page type-page status-publish hentry">
        <div class="container">
            <div class="row">
                <section>
                    <h4>
                        Advertising with Hang-Out ensures reaching the educated masses and
                        building your presence with them.
                    </h4>
                    <h4>
                        Please attach your file for your display advertisement.
                    </h4>  
                    <h4>
                        Attached file should be in JPG, JPEG, GIF or PNG (Preferable) format and should be in full HD 
                        resolution (1920x1080) pixels
                    </h4>  
                    @using (Html.BeginForm("advertise","query", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="half left cf">
                            @Html.TextBoxFor(x => x.Name, new { placeholder = "Name", required = "" })
                            @Html.TextBoxFor(x => x.Contact, new { placeholder = "Contact No.", required = "" })
                        </div>
                            <div class="half right cf">
                                @Html.TextBoxFor(x => x.E_Mail, new { placeholder = "E-Mail", required = "" })
                                @Html.TextBoxFor(x => x.Subject, new { placeholder = "Subject", required = "" })
                            </div>
                            @Html.TextAreaFor(x => x.Message,new { placeholder = "Message" ,required = "" })

                            @Html.TextBoxFor(x => x.files, new { type="file", placeholder = "Message", required = "" , multiple = "true" })
                        <div class="form-group">
                            <button type="submit" class="btn btn-info btn-lg btn-block" style="background-color:#00466e">Submit</button>
                        </div>
                    }
                    <center><p style="color:red;font-size:large" id="msg"></p></center>
                </section>
            </div>
        </div>
    </div>
</div>*@

